# Version control
.git
.gitignore
.gitattributes

# Local binaries and build outputs
bin/
dist/
*.exe
*.test
*.out

# Docker files
docker/
Dockerfile*
docker-compose*
.dockerignore

# Documentation
*.md
LICENSE
docs/

# CI/CD & IDE configs
.github/
.gitlab/
.idea/
.vscode/

# Local environment variables and secrets
.env
.env.*
!.env.example

# OS metadata
.DS_Store
Thumbs.db