PORT=8080

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db-name
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<db-name>?sslmode=disable

ADMIN_NAME=<name>
ADMIN_EMAIL=<email>
ADMIN_PASSWORD=<password>